@page "/"

<div class="d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="mb-3">Bienvenido</h1>
    <h3 class="mb-4">Haz clic en <b>Registrar</b> para crear tu cuenta. Si ya tienes una, usa <b>Ingresar</b>.</h3>

    <div class="d-flex gap-3">
        <a href="/login" class="btn btn-primary btn-lg px-4">Ingresar</a>
        <a href="/registrar" class="btn btn-secondary btn-lg px-4">Registrar</a>
    </div>
</div>