@page "/panel"
@inject HttpClient Http

<div class="d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="mb-3">Hola, <b>name</b></h1>
    <h3 class="mb-4">Gestiona tu pedido</h3>
</div>